.propaganda {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: 3rem;
   
}

.propaganda img {
    border-radius: 30px;
    width: 50rem;
    height: 20rem;
    box-shadow: 0 6px 20px rgba(255, 115, 0, 0.685);
}

@media (max-width: 480px) {

    .propaganda {
        margin-top: 2rem;
    }
    .propaganda img {
        width: 20rem;
        height: 10rem;
        border-radius: 10px;
    }



}